data/
backup/

# Byte-compiled / optimized / compiled files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Editors
.vscode/        # VSCode
.idea/          # IntelliJ IDEA / PyCharm
*.swp           # Vim swap files
*.swo
*.swn

# OS-specific files
.DS_Store       # macOS
Thumbs.db       # Windows
ehthumbs.db
.Spotlight-V100 # macOS
.Trashes        # macOS

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Miscellaneous
*.log
*.sqlite3       # SQLite database files (e.g., Django's db.sqlite3)
local_settings.py # Django local settings
instance/       # Flask instance folder
.webassets-cache
.scrapy         # Scrapy project files
docs/_build/    # Sphinx documentation builds
target/         # PyBuilder
.ipynb_checkpoints # Jupyter Notebook checkpoints
profile_default/ # IPython
ipython_config.py
.python-version # pyenv
celerybeat-schedule # Celery
*.sage.py       # SageMath
.spyderproject  # Spyder
.spyproject
.ropeproject     # Rope
.mypy_cache/    # MyPy
.dmypy.json
dmypy.json